/* Menu Page */
/* --------------------------------------- */
.menu-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 1rem;
    /* Made the width smaller and added margin. By changing the width it makes the columns try to fit into this space  */
    margin: 0 auto;
    max-width: 900px;
}

.menu-card {
    background: white;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.menu-card h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.menu-card h4 {
    font-weight: 100;
}

.menu-container-text {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Work Sans', sans-serif;
}

.menu-container-text h1 {
    font-weight: 500;
    font-size: 50px;
}